<%= form_for(@user, :html => { :class=> 'form-horizontal' }) do |e| %>
<% if @user.errors.any? %>
<div class="alert alert-danger" role="alert">
  <h4><%= pluralize(@user.errors.count, "Error") %> El usuario no ha sido guardado:</h4>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
  <%= e.label :nombre, 'Nombre', :class => "col-sm-5 control-label"  %>
  <div class="col-sm-6">
    <%= e.text_field(:nombre, class: 'form-control', :'data-tools' => 'tooltip', :'title' => 'Nombre', :placeholder => 'Nombre', :required => true) %>
  </div>
</div>

<div class="form-group">
  <%= e.label :tipoid, 'Tipo Identificacion', :class => "col-sm-5 control-label"  %>
  <div class="col-sm-6">
    <%= e.select(:tipoid, [['CC'], ['TI']]) %>
  </div>
</div>

<div class="form-group">
  <%= e.label :numeroid, 'Numero identificacion', :class => "col-sm-5 control-label"  %>
  <div class="col-sm-6">
    <%= e.text_field(:numeroid, class: 'form-control', :'data-tools' => 'tooltip', :'title' => 'Tipo de identificacion', :placeholder => 'Numero identificacion', :required => true) %>
  </div>
</div>

<div class="form-group">
  <%= e.label :fnacimiento, 'Fecha de nacimiento', :class => "col-sm-5 control-label"  %>
  <div class="col-sm-6">
    <%= e.date_select(:fnacimiento, start_year: 1950) %>
  </div>
</div>

<div class="form-group">
  <%= e.label :departamento, 'Departamento', :class => "col-sm-5 control-label"  %>
  <div class="col-sm-6">
    <%= e.text_field(:departamento, class: 'form-control', :'data-tools' => 'tooltip', :'title' => 'Tipo de identificacion', :placeholder => 'Departamento', :required => true) %>
  </div>
</div>

<div class="form-group">
  <%= e.label :ciudad, 'Ciudad', :class => "col-sm-5 control-label"  %>
  <div class="col-sm-6">
    <%= e.text_field(:ciudad, class: 'form-control', :'data-tools' => 'tooltip', :'title' => 'Tipo de identificacion', :placeholder => 'Ciudad', :required => true) %>
  </div>
</div>

<div class="form-group">
  <%= e.label :tel, 'Telefono', :class => "col-sm-5 control-label"  %>
  <div class="col-sm-6">
    <%= e.text_field(:tel, class: 'form-control', :'data-tools' => 'tooltip', :'title' => 'Tipo de identificacion', :placeholder => 'Telefono', :required => true) %>
  </div>
</div>

<div class="form-group">
  <%= e.label :dir, 'Direcci칩n', :class => "col-sm-5 control-label"  %>
  <div class="col-sm-6">
    <%= e.text_field(:dir, class: 'form-control', :'data-tools' => 'tooltip', :'title' => 'Tipo de identificacion', :placeholder => 'Direcci칩n', :required => true) %>
  </div>
</div>

<div class="form-group">
  <%= e.label :usuario, 'Usuario', :class => "col-sm-5 control-label"  %>
  <div class="col-sm-6">
    <%= e.text_field(:usuario, class: 'form-control', :'data-tools' => 'tooltip', :'title' => 'Tipo de identificacion', :placeholder => 'Usuario', :required => true) %>
  </div>
</div>

<div class="form-group">
  <%= e.label :password, 'Contrase침a', :class => "col-sm-5 control-label"  %>
  <div class="col-sm-6">
    <%= e.text_field(:password, class: 'form-control', :'data-tools' => 'tooltip', :'title' => 'Tipo de identificacion', :placeholder => 'Contrase침a', :required => true) %>
  </div>
</div>

<% if defined?(@permiso_admin) and @permiso_admin %>

<div class="form-group">

<%= e.label :admin, 'Administrador', :class => "col-sm-5 control-label" %>
<div class="col-sm-6">
<%= e.check_box (:admin) %>
</div>
</div>

<% end %>

<p>
  <div class="form-group">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
      <%= e.submit 'Enviar', class: "btn btn-success" %> <%= link_to 'Regresar', users_path, class: "btn btn-warning" %>
    </div>
  </div>
</p>

<% end %>
